<!DOCTYPE html>
<html>
<head>
	<style>
		body {background-color: rgb(220, 224, 210);}
		h1   {color: rgb(23, 76, 155);}
		p    {color: rgba(46, 26, 145, 0.932);}
		
	</style>
	<title>Home</title>
        
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			<h2>Sentiment Based Product Recommandation system</h2>
		</div>
	</header>

	 <div class="ml-container">

		<form action="{{ url_for('recommend_product')}}" method="POST">
			<p>Enter User Name</p>
			<input class="user-input" type="text" name="username" />
			<br/>
			<input type="submit" class="btn-info" value="Get Product">
		</form>

	</div> 
	




</body>
</html>
